<!-- article.html -->
{% extends 'artigos/layout.html' %}

{% block content %}
    <nav>
        <h2><a href="{% url 'artigos:index' %}">Voltar</a></h2>
    </nav>
    {% if is_author %}
    <a href="{% url 'edit_article_view' artigo.id %}">Editar Artigo</a>
    {% endif %}
    <h1>{{ article.titulo }}</h1>
    <p>Autor: <a href="{% url 'artigos:autor' autor_id=article.autor.id %}">{{ article.autor }}</a></p>
    <p>Data de criação: {{ article.data_criacao|date:"d/m/Y H:i:s" }}</p>
    <p>Conteúdo:</p>
    <p>{{ article.conteudo }}</p>

    <h2>Comentários</h2>
    {% if user.is_authenticated %}
    <form method="post" action="{% url 'artigos:comentar_artigo' article.id %}">
        {% csrf_token %}
        {{ comentario_form.as_p }}
        <button type="submit">Comentar</button>
    </form>
    {% endif %}
    {% if comments %}
    <ul>
        {% for comment in comments %}
        <li>{{ comment.autor }} - {{ comment.data_criacao|date:"d/m/Y H:i:s" }}</li>
        <p>{{ comment.conteudo }}</p>
        {% endfor %}
    </ul>
    {% else %}
    <p>Nenhum comentário disponível. Faça login e seja o primeiro a comentar</p>
    {% endif %}
    <br>
    <br>
    <h2>Avaliações</h2>
    {%if user.is_authenticated%}
    <form method="post" action="{% url 'artigos:avaliar_artigo' article.id %}">
        {% csrf_token %}
        {{ avaliacao_form.as_p }}
        <button type="submit">Avaliar</button>
    </form>
    {% endif %}
    {% if ratings %}
    <ul>
        {% for rating in ratings %}
        <li>{{ rating.autor }} - {{ rating.data_avaliacao|date:"d/m/Y H:i:s" }} - Pontuação: {{ rating.pontuacao }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Nenhuma avaliação disponível.</p>
    {% endif %}
    <a href="{% url 'artigos:apaga_artigo' article.id %}">
      <button>Apagar Artigo</button>
    </a>

{% endblock %}
