<!-- index.html -->
{% extends 'artigos/layout.html' %}

{% block content %}
{% if user.is_authenticated %}
    {% if has_author %}
        <a href="{% url 'artigos:edita_autor' autor.id %}">
            <button>Editar informação do Autor</button>
        </a>
    {% else %}
        <a href="{% url 'artigos:novo_autor' %}">
            <button>Torne-se um Autor</button>
        </a>
    {% endif %}
{% endif %}

<h1>Lista de Artigos</h1>
<ul>
    {% for artigo in artigos %}
    <li><a href="{% url 'artigos:article' article_id=artigo.id %}">{{ artigo.titulo }}</a> - {{ artigo.autor }} - {{ artigo.data_criacao|date:"d/m/Y" }}</li>
    {% empty %}
    <li>Nenhum artigo encontrado.</li>
    {% endfor %}
</ul>
{% endblock %}

