<!-- layout.html -->
<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'authentication/styles/style.css' %}">
</head>
<body>
    <header>

    </header>

    <main>
        <!-- Aqui será incluído o conteúdo específico de cada página -->
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- Aqui você pode adicionar o rodapé comum a todas as páginas -->
        <p>&copy;</p>
    </footer>
</body>
</html>
